@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    
}
body {
    background-color: #f9fafb
}

.nav {
    height: 90px;
    width: 100%;
    font-size: 2.5em;
}

.nav a {
    color: white;
}



.intro .intro-text {
    font-weight: 600;
    font-size: 40px;
    color: #002855;
}

.intro .intro-hello {
    font-size: 24px;
    display: block;
    text-align: left;
}

#Nav {
    margin-top: 5px;
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
    border-radius: 100px;
    background-color: #002855;
    transition: background-color 0.5s ease-in-out;
}

.headshot {
    
    height: 100%;
    width: 100%;
    z-index: 2;
}

.nav-anchor-div {
    font-size: 25px;
}

.header-div {
    width: 80%;
    height: 100%;
    
}

.name {
    width: 100%;
} 

.main-body {
    width: 100%;
    
}

.center-container {
    margin: 0 auto;
}

header {
    display: block;
    width: 100%;
    background: url('./images/town.webp');
    background-size: 100%;
    height: 100vh!important;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

.bg-grey {
    background-color: rgba(164, 160, 160, .7);
    margin: 0 50px;
    padding: 20px 
}

.bg-pgy {
    background: linear-gradient(38.53deg, rgba(255, 158, 27, .8) 0%, #f74f41ff 100%);
    margin: 0 50px;
    padding: 20px 
}

.bg-orange-transparent {
    background: linear-gradient(38.53deg, rgba(255, 158, 27, .8) 0%, #f74f41ff 100%);
    border-radius: 5px;
}

.bg-grey-2 {
    border-radius: 25px;
    margin: 0 50px;
    padding: 20px 
}

.f-2em {
    font-size: 5em;
}

.col-wh {
    color: white;
}

.skills {
    color: #002855;
    font-weight: 650;
}

.f-2em-fw-500 {
    font-size: 1.8em;
    font-weight: 500;
    color: whitesmoke
}


.f-2em-fw-500 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 3px;
    
}


/* ///////////////////////////////////////// */

.about-me {
    color: black;
    height: 100%;
    /* margin: 100px 0 0 0; */
    padding: 100px 0;
    background: #f9fafb
}

/* This has to come after the .about me or it doent work ? */
.bg-org {
    background: linear-gradient(38.53deg, rgb(255, 158, 27 ) 0%, #f74f41ff 100%);;
}


.boxing-icon {
    border-radius: 50px;
    font-size: 3em;
    width: 80px;
    height: 80px;
    color: #e5e9ee;
    background: #002855;
}

.about-me-div {
    transition: transform .9s;
    background: linear-gradient(38.53deg, rgb(255 158 27) 0%, #f74f41ff 100%);
    border-radius: 5px;
    color:#002855;
    font-size: 20px;
    letter-spacing: 1.5px;
}


.fw-7-ls-2 {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 36px;
}

.about-me-div:hover {
    transform: scale(1.05);
    color:#e5e9ee;
    z-index: 1;
}


.img {
    background-image: url('./images/IMG_1932.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 850px;
    border-radius: 5px;
}


.img-container {
    height: 50%;
}


.bg-wh {
    background: #e5e9ee;
    padding: 75px 50px;
    border-radius: 5px;
}

.about-me-square {
    transition: transform .9s; 
    background: linear-gradient(38.53deg, rgb(255 158 27) 0%, #f74f41ff 100%);
    margin: 10px 10px;
    border-radius: 5px;
    color: #002855;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.about-me-square:hover {
    transform: scale(1.05);
    z-index: 1;
    color: #f9fafb;
}

/* ///////////////////////////////////////// */

.projects {
    padding:200px  0;
    height: 100%;
    background-color: #e5e9ee;
}

.proj-heading {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
}

.projects-inner-container {
    width: 90%;
    z-index: -1;
    
}
.pugilist-express {
    width: 100%;
    height: 100%;
    height: 300px;
    background-repeat: no-repeat;
}
.pugExpOverlay {
    position: relative;
    top: -100%;
    height: 100%;
    color: green;
    background-color: rgba(255, 158, 27, .8);
}

.brain-train {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    transition: .98s;
}

.btOverlay {
    position: relative;
    top: -100%;
    height: 100%;
    color: green;
    background-color: rgba(255, 158, 27, .8);
}

.school-knocks {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.sohnOverlay {
    position: relative;
    top: -100%;
    height: 100%;
    color: green;
    background-color: rgba(255, 158, 27, .8);
    
}

.school-knocks, .brain-train, .pugilist-express {
    border-radius: 5px;
    margin: 5px;   
    border: 1.25px solid rgb(255 158 27);
    transition: transform .98s;
}

.school-knocks:hover, .brain-train:hover, .pugilist-express:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.hidden {
    display: none;
}



/* ///////////////////////////////////////// */

.tech-stack {
    height: 100%;
    /* background-color: whitesmoke; */
    padding: 100px;
}

.tech-stack-container {
    
}
.stack-icons {
    justify-content: space-around;
}
.stack-icons img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    vertical-align: middle;
    border-style: none;
}

.icon {
    z-index: 1;
}

/* ///////////////////////////////////////// */

ul, ul li {
    list-style: none;
    letter-spacing: 2px;
}

.footer {
    height: 135px;
    background-color: #002855;
    color: whitesmoke;
    transition: .9s;
    font-size: 1.1em;
    margin-top: 200px;
}

.footer:hover {
    background-color: whitesmoke;
    color: black;
    font-size: 1.3em;
}

.contact-info {
    font-size: 1.2em;
}


